.tcontextmenu-node-hover {
   background              : rgba( 0, 0, 0, 0.7 );
   color                   : white!important;
}
.tContextMenu-node-hover{
   border-radius           : 6px 0 0 6px;
   -moz-border-radius      : 6px 0 0 6px;
   -webkit-border-radius   : 6px 0 0 6px;
}
.tContextMenu-hover{
   border-radius           : 6px;
   -moz-border-radius      : 6px;
   -webkit-border-radius   : 6px;
}

.tContextMenu ul {
   z-index     : 10000;
   top         : 0px;
   left        : 100%;
   border-radius           : 0 6px 6px 6px;
   -moz-border-radius      : 0 6px 6px 6px;
   -webkit-border-radius   : 0 6px 6px 6px;
   background  : rgba( 0, 0, 0, 0.7 );
   margin      : 0;
   color       : white!important;
}

.tContextMenu li{
   margin      : 0;
   padding     : 3px;
   font-family : verdana, sansans-serif, arial;
   font-size   : 7pt;
   text-align  : center;
   color       : inherit;
}

.iconMenu-text{
   border-radius           : 6px;
   -moz-border-radius      : 6px;
   -webkit-border-radius   : 6px;
   background  : rgba( 25, 125, 200, 0.75 );
   padding     : 3px;
   font-weight : bold;
   color       : white;
}
