body {


}

#page-wrapper {
	background: #ffffff;
}

#page {
}

#header {
	background: #36648B;
	
}

#header .section {

	}

#main-wrapper {
}

#main {
}

.region-footer {
	background: url(http://gestioncultura.cervantes.es/COMUNES/9317_I_Jacobs_University_LOGO_300dpi.jpg) right no-repeat;
}
