body{
  background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%); /* IE10+ */
background: linear-gradient(left, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
}

#page-wrapper {
    background: #fff;
}
#header {
 background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%, #207cca 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1e5799 0%,#7db9e8 100%,#207cca 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1e5799 0%,#7db9e8 100%,#207cca 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1e5799 0%,#7db9e8 100%,#207cca 100%); /* IE10+ */
background: linear-gradient(top, #1e5799 0%,#7db9e8 100%,#207cca 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
}
.region-footer {
}

#navigation{
  background: rgb(184,196,202);
  background: -moz-linear-gradient(top,  rgba(184,196,202,1) 0%, rgba(172,187,194,1) 50%, rgba(162,174,182,1) 51%, rgba(182,193,204,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,196,202,1)), color-stop(50%,rgba(172,187,194,1)), color-stop(51%,rgba(162,174,182,1)), color-stop(100%,rgba(182,193,204,1))); 
  background: -webkit-linear-gradient(top,  rgba(184,196,202,1) 0%,rgba(172,187,194,1) 50%,rgba(162,174,182,1) 51%,rgba(182,193,204,1) 100%);
  background: -o-linear-gradient(top,  rgba(184,196,202,1) 0%,rgba(172,187,194,1) 50%,rgba(162,174,182,1) 51%,rgba(182,193,204,1) 100%);
  background: -ms-linear-gradient(top,  rgba(184,196,202,1) 0%,rgba(172,187,194,1) 50%,rgba(162,174,182,1) 51%,rgba(182,193,204,1) 100%); 
  background: linear-gradient(top,  rgba(184,196,202,1) 0%,rgba(172,187,194,1) 50%,rgba(162,174,182,1) 51%,rgba(182,193,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c4ca', endColorstr='#b6c1cc',GradientType=0 ); 
  
}
