# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

includes/database/mysql/schema.inc~
sites/all/libraries/ARC2/arc/README.md
sites/all/libraries/ARC2/arc/composer.json
sites/all/libraries/ace/
sites/all/modules/antispam/
sites/all/modules/apachesolr/
sites/all/modules/apachesolr_views/
sites/all/modules/backup_migrate/
sites/all/modules/blockanonymouslinks/
sites/all/modules/captcha/
sites/all/modules/commentrss/
sites/all/modules/content_access/
sites/all/modules/ctools/
sites/all/modules/date/
sites/all/modules/delete_all/
sites/all/modules/devel/
sites/all/modules/dhtml_menu/
sites/all/modules/efq_views/
sites/all/modules/entity/
sites/all/modules/entityreference/
sites/all/modules/features/
sites/all/modules/filefield_paths/
sites/all/modules/legal/
sites/all/modules/mathjax/mathjax.module~
sites/all/modules/migrate/
sites/all/modules/msc_browser/README.queries~
sites/all/modules/msc_browser/msc_browser.module~
sites/all/modules/nodeaccess/
sites/all/modules/og/
sites/all/modules/pathauto/
sites/all/modules/privatemsg/
sites/all/modules/profile2/
sites/all/modules/rdfx/
sites/all/modules/recaptcha/
sites/all/modules/references/
sites/all/modules/relation/
sites/all/modules/relation_select/
sites/all/modules/reroute_email/
sites/all/modules/riddler/
sites/all/modules/sparql/
sites/all/modules/subform/
sites/all/modules/token/
sites/all/modules/userpoints/
sites/all/modules/userpoints_nc/
sites/all/modules/views/
sites/all/modules/views_bulk_operations/
sites/all/modules/views_php/
sites/all/modules/watcher/
sites/all/modules/wysiwyg/