/**
 * Common Block
 */

/* --- Blocks --- */
.block {
}

.block-inner {
}

.block-title {
}

.block-content {
}

/* --- Block Lists --- */
.block ul {
}

.block ul li {
}

.block ol {
}

.block ol li {
}

/* Block Item List */
.block .item-list ul {
}

.block .item-list ul li {
}

/* Block Links List */
.block ul.links {
}

.block ul.links li {
}

/* Block More Links */
.block .more-link {
  margin-top: 5px;
}

.block .more-link a {
}

/* --- Sidebar Blocks --- */
.sidebar .block {
}

.sidebar .block-inner {
}

.sidebar .block-title {
}

.sidebar .block-content {
}

/* First Sidebar Blocks */
#sidebar-first .block {
}

#sidebar-first .block-inner {
}

#sidebar-first .block-title {
}

#sidebar-first .block-content {
}

/* Second Sidebar Blocks */
#sidebar-second .block {
}

#sidebar-second .block-inner {
}

#sidebar-second .block-title {
}

#sidebar-second .block-content {
}

/* --- Header Blocks --- */
#header-wrapper .block {
}

/* ---- Footer Blocks --- */
#footer-wrapper .block {
}

/* --- First Panels Blocks --- */
#panel-first-wrapper .block {
}

/* --- Second Panels Blocks --- */
#panel-second-wrapper .block {
}

/**
 * Specfic Blocks
 */

/* --- Menu Block --- */
.block-menu {
}

/* --- Node Blocks --- */
.block-node .block-content {
}

.block-node table {
  overflow: hidden;
  width: 100%;
}

.block-node table .title-author {
  padding-left: 0;
}

.block-node table .node-title {
  font-size: 1em;
}

.block-node table .node-author {
  font-size: 1em;
}

body.not-logged-in .block-node table td.edit,
body.not-logged-in .block-node table td.delete {
  display: none; /* Hide Edit & Delete TD if not log-in */
}

/* --- Forums Block --- */
.block-forum .item-list ul {
}

.block-forum .item-list ul li {
}

.block-forum .item-list ul li a {
}

.block-forum .more-link {
}

.block-forum .contextual-links-wrapper {
  display: none; /* Drupal Bug. Temporary hiding this link */
}

/* --- Comment Blocks --- */
.block-comment {
}

/* --- Aggregator Blocks --- */
block-aggregator {
}

.block-aggregator .item-list ul {
}

.block-aggregator .item-list ul li {
}

.block-aggregator .item-list ul li:first-child {
}

.block-aggregator .item-list ul li a {
}

.block-aggregator .item-list ul li a:hover,
.block-aggregator .item-list ul li a:active,
.block-aggregator .item-list ul li a:focus {
}

/* --- Search Blocks --- */
.block-search {
}

/* Search blocks in header */
#header .block-search .block-inner {
}

#header #search-block-form {
}

#header #search-block-form .form-text {
}

#header #search-block-form .form-submit {
}

#header #search-block-form .form-submit:hover,
#header #search-block-form .form-submit:focus {
}

/* --- User Blocks --- */
.block-user {
}

.block-user .form-item {
}

.block-user .form-item label {
}

.block-user .form-item-name {
}

.block-user .form-item-name input {
}

.block-user .form-item-pass {
}

.block-user .form-item-pass input {
}

.block-user .item-list {
}

/* --- Poll Blocks --- */
.block-poll {
}

.block-poll .poll {
}

.block-poll .title {
  font-weight: bold;
  margin-bottom: .5em;
}

.block-poll .links {
  margin-top: .5em;
}

/* --- Book Blocks --- */
.block-book {
}

/* --- Quicktabs Blocks --- */
.block-quicktabs {
}

.block-quicktabs .block-inner .block-inner {
  margin: 0;
  padding: 0; /* Prevent extra padding in nested blocks */
}

/* --- Views Blocks --- */
.block-views {
}

/**
 * Misc.
 */

/* Login Block - horizontal (theme setting) basic styles */
.lb-h {
  margin-top: 1px;
  min-width: 320px;
}

.region-header .lb-h {
  float: right;
}

.lb-h .block-inner,
.lb-h .block-content {
  background: none;
  padding: 0;
}

.lb-h #user-login-form {
  margin: 0;
}

.lb-h #user-login-form label {
  line-height: 1.2;
}

.lb-h .form-item {
  float: left;
  margin: 0;
}

.lb-h input.form-text {
  margin: 0 3px 0 0;
  width: 110px;
}

.lb-h #edit-actions {
  margin: 0;
}

.lb-h input.form-submit {
  margin: 0;
  position: absolute;
  top: 1.2em;
}

.lb-h .form-required,
.lb-h .item-list {
  display: none;
}

.lb-h h2 {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* Skinr block title alignment */
.ta-l .block-title,
.ta-l .mini-panel-title {
  text-align: left;
}

.ta-r .block-title,
.ta-r .mini-panel-title {
  text-align: right;
}

.ta-c .block-title,
.ta-c .mini-panel-title {
  text-align: center;
}

/* Mini panels */
.mini-panel-title {
  margin: 0 10px;
}

/* Gpanel blocks */
.gpanel .block-inner {
}

.gpanel .block-title {
}

.gpanel .block-content {
}

#main-content .gpanel .block-inner {
}

#main-content .gpanel .block-title {
}

#main-content .gpanel .block-content {
}

/* Block wrapper for Mini Panels */
.block-panels_mini {
}

.block-panels_mini .block-inner {
}

.block-panels_mini .block-content {
}

.block-panels_mini .mini-panel-title {
  margin: 0 10px;
}

/* Login block - slider (theme setting) */
/* TODO: add the login slider styles
 * Uses the class .lb-s {}
 */
