/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
*/


/*
 * Body
*/
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.4em;
  /* font-family: "Hoefler Text", Georgia, Times, serif; */
  color: #444;  
  background-color: #FFFFFF;
 /* background-image: url(../images/paper.jpg);*/
  background-repeat: repeat-y;
  background-size: 100% 100%;
}

#page-wrapper {
  padding: 10px;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
*/
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
*/
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
  margin-top: -12px;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
  margin-left:8px;
  margin-top:2px;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
 margin-top: 12px;
 margin-left: 8px;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
*/
#main-wrapper {
}

#main {
    margin-top:16px;
}

/*
 * Content
*/
#content {
clear:both; 
}

#content .section {
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
*/
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
*/
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
*/
.region-footer {
}

/*
 * Page bottom
*/
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}
/*06799F*/
/*062edb*/
a, a:visited, a:link, a:active{
  color: #062edb;
  border-bottom: 1px solid #F2ECDA;  
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid #333;  
}



/* USER LOGIN BLOCK */
#block-user-login .form-item{  
  display: inline;
}

#block-user-login .form-item label {
  display: inline-table;
  font-weight: bold;
}

#block-user-login{
  float: right;
  margin-right: -2px;
  margin-top: -2px;

}

#block-user-login ul, #block-user-login li {
  list-style: none;
  display: inline;
  list-style-type: none;
  margin-left: -10px;
  margin-right: 40px;
  margin-top: 20px;
}

#block-user-login .form-submit{
  float: right;
  margin-top: -30px;
  font-size: 11px;
}

#block-user-login h2{
  display: none;
}

#site-name{
  margin-top: 30px;
  /* visibility:hidden; */
}

/* LOGO AND SLOGAN */
#name-and-slogan{
  margin-top: -1px;  
  margin-left: 30px;
  /* visibility:hidden;  */
}

#logo{
  margin-top: 10px;
  margin-bottom: -20px;
}

#name-and-slogan a, a#logo, a#logo:link, #name-and-slogan a:link{
  border:none;
  text-decoration: none;
}


/* NAVIGATION */
#navigation a{
  font-size: 17px;  
}

#navigation{
  margin-top: -108px;
  margin-left: 103px;
  width: 300px;
}

#navigation li{
  float: left;
}

.block-tabs{
  width: 300px;
}

.block-tabs ul li{
    font-weight:bold;
    color:black;
    
}

.tab-title-link{
  font-size: 13px;
}

.tab-contents, .block .content{
  font-size: 12px; 
  margin: 0px 10px;
}


.frontpage-content{
  min-height: 700px;
  line-height: 1.7em;
}

.front-left, #front-left-block-tabs{
  float: left;
  width: 560px;
  height: 365px;
  margin-left: 0px;
  margin-right: -265px;  
  line-height: 150%;
  border-color: #cdc0b0;
 /* border-color: #fffafa; */
  background: rgba(248, 248, 255, 0.6);
  /* background-image: url(../images/old-paper.jpg); */
}

.front-right, #front-right-block-tabs{
  float: left;
  width: 270px;
  height: 365px;
  line-height: 150%;
  margin-left: 280px;
  margin-right: -550px;
  border-color: #cdc0b0;
  background: rgba(248, 248, 255, 0.6);
 /* background-image: url(../images/old-paper3.jpg); */
}

#front-mid-tabs{
  margin-top: 50px;
  clear: both;
}

#front-right-mid-block-tabs{
  border-color: #cdc0b0;
  background: rgba(248, 248, 255, 0.6);
/*  background-image: url(../images/grid.jpg); */
}

#front-left-mid-block-tabs{
  margin-top: -40px;
 /* background-color: #D9D9F3; */
  border-color: #cdc0b0;
  background: rgba(248, 248, 255, 0.6);
  /* border-color: #D9D9F3; */
  /* background-image: url(../images/envelope-cropped.jpg);*/
}

.ui-tabs .ui-tabs-nav li {
    font-family: Verdana,Arial,sans-serif;
    padding:0px 0px 0px 0px;
    font-size:1.1em;
}

.ui-widget-content {
    font-family: Verdana,Arial,sans-serif;
    padding:0px;
    border: 1px solid #AAA;
    border-radius: 4px 4px 4px 4px;
    margin-bottom:5px;
    
}

/*

.block-tabs ul li{
    font-weight:bold;
    color:black;
    
}
.ui-tabs .ui-tabs-nav li {
    padding:5px 0px 5px 10px;
    font-size:1.1em;
}
.ui-widget-content {
    padding:4px;
    border:2px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    margin-bottom:5px;
    
}


#front-top-tabs h2,#front-mid-tabs h2 , #front-bot-tabs h2 {
    color:black;
    font-weight:bold;
    padding:1px 0px 2px 20px;
    font-family:Arial,serif;
    font-size:110%;
}
*/

#front-center-block{
  width: 560px;
   background: rgba(248, 248, 255, 0.6);
  /* background-image: url(../images/laid.jpg); */
  background-size: 100%;
}

#front-center-block .block-title-helper{
  background: transparent;
}

#block-planetmath-blocks-news{
 /* background-image: url(../images/newsprint.jpg); */
}

#block-planetmath-blocks-userlist{
/*  background-image: url(../images/origami.jpg); */
}


h2.block-title{
  font-weight: bold;
  -webkit-border-radius: 4px/*{cornerRadius}*/;
  border-radius: 4px/*{cornerRadius}*/;
  margin: 0;
  padding: .2em .2em 0;
  text-decoration: none;
  font-size: 100%;
  height: 29px;
  list-style: none;
}

.block{
  border: 1px solid #AAA/*{borderColorContent}*/;
  background: rgb(248, 248, 255);
  background: rgba(248, 248, 255, 0.6);
  color: #222/*{fcContent}*/;
  position: relative;
  zoom: 1; 
  -webkit-border-radius: 4px/*{cornerRadius}*/;
  border-radius: 4px/*{cornerRadius}*/;
  font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
  font-size: 1.1em/*{fsDefault}*/;

}

.block-title-helper{
  float: left;
  padding: .1em .4em;
  text-decoration: none;
  color: #212121;/*{fcActive}*/
  background: rgba(248, 248, 255);
  background: rgba(248, 248, 255, 0.6);
  font-weight: bold/*{fwDefault}*/;
  color: #212121/*{fcActive}*/;    
  margin-bottom: 0;
  padding-bottom: 1px;
  position: relative;
  top: 1px;
  margin: 0 .2em 1px 2px;  
  white-space: nowrap;
  border-bottom: 0 !important;
}

.node-title{
  padding-top: .7em;
}

#block-system-main{
  border: 0;
  background: rgb(255, 250, 250);
  background: rgba(255, 250, 250, 1.0);
  margin-top: 15px;
}

.view-header {
  padding: 1em;
}

ul.links.inline{
  margin: 0.3em 0;
}

div.submitted{
  margin-top: -10px;
}

h2.node-title{
  font-size: 14px;
  margin:0;
  padding:0;
}

#page{
  line-height: 1.5em;
}

#block-user-login{
  border: 0;
  padding: 4px;
  position: relative;
  top: -69px;
  left: 0px;
  z-index: 100;
}

div.node.view-mode-full div.content{
  margin-top: 20px;
  /* min-height: 300px; */
  font-size: 12px;
}

h1#page-title{
  color: #111;
  font-size: 20px;
}

.field-label{
  color: #111;
}

#block-menu-menu-main-menu .content ul, #block-menu-menu-main-menu .content ul li{
  line-height: 2.3em;
}
.view-articles .views-row{
  margin-bottom: 15px;
}

.view-articles .views-row h2{
  font-size: 13.5px;
  font-weight: normal;
  margin-bottom: 1px
}

/* Copy the article view stuff so that the revisions view is similar*/
.view-articlerevisions .views-row h2{
  font-size: 13.5px;
  font-weight: normal;
  margin-bottom: 1px
}

ul.node-images-list{
  list-style: none;
  display: inline;
}

ul.node-images-list li{
  display: inline;
} 

.logged-in .node h1.title{
/* margin-bottom: 10px; */
/* margin-top: -5px; */
}


table {
width: 100%;
border: 1px solid #B0B0B0;
}
table tbody {
/* Kind of irrelevant unless your .css is alreadt doing something else */
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
table thead {
text-align: left;
}
table thead th {
background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB)) ;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0) ;
border: 1px solid #B0B0B0;
color: #444;
font-size: 16px;
font-weight: bold;
padding: 3px 10px;
}

table td {
padding: 3px 10px;
}

table tr:nth-child(even) {
background: #FFF;
}

#forum table td{
  padding: 8px 10px;
}

#forum-list-17{
  background: #FCD116;
}

ul.action-links{
margin: 0px;
padding: 0 0 0 15px;
}

#front-top-tabs{
  min-height: 80px
}

#front-top-tabs h2,#front-mid-tabs h2 , #front-bot-tabs h2 {
    color:black;
    font-weight:bold;
    padding:0px 1px 0px 10px; 
    font-family:Arial,serif;
    font-size:110%;
}

#front-right-mid-block-tabs{
  margin-top: -40px;
}

#front-bot-tabs{
  clear:both;
  padding-top: 25px;
  margin-bottom: 0px;
}

.block ul, .block li, .tab-contents ul, .tab-contents li{
  list-style-type: circle;
}

.block-day-date{
  float: right;
}

.block .content, .content .tab-contents{
  margin-bottom: 10px;
}

/* LATEXML Stuff */
.node .field-name-field-latex h1.title{
  margin: 0;
}

.region-footer{
  margin-top: 50px;
}

.region-bottom{
  margin-top: 20px;
}

#forum {
margin:0px -10px 0px -10px;
}


/* SEARCH */

#block-search-form{
/*  float: right; */
/*  margin-right: -390px; */
/*  margin-top: -18px; */
/*  background: none; */
/*  border: none; */
    width: 180px;
}

#search-block-form{
margin-top:7px;
}

#block-search-form .form-submit{
  font-size: 12px;
}

#block-search-form input.form-text{
 /* width: 200px; */
}

#block-search-form{
  z-index: 1;
  margin-top: 3px;
}