/* --- Articles (nodes) --- */
.article {
  background: url(../images/article-sep.gif) repeat-x left bottom;
  margin-bottom: 40px;
  padding: 0 0 40px;
  position: relative;
}

.article > header {
}

/* Article Title */
.article > .header {
  margin-bottom: 10px;
}

.node-title {
}

.node-title a,
.node-title a:visited {
}

.node-title a:hover,
.node-title a:active,
.node-title a:focus {
}

/* Skinr article title alignment */
.ta-l .article-title {
  text-align: left;
}

.ta-r .article-title {
  text-align: right;
}

.ta-c .article-title {
  text-align: center;
}

/* User Picture ---*/
.article .user-picture {
  display: inline-block;
  vertical-align: text-top;
}

.article .user-picture img {
}

/* Meta ---*/
.node-author {
}

.username {
}

span.submitted-date {
  background: url(../images/postdate-bg.png) no-repeat 0px 0px;
  color: #fff;
  display: block;
  height: 65px;
  left: -65px;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 60px;
}

span.submitted-date span.date {
  display: block;
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 250%;
  margin: 8px 0 0 0;
  text-transform: uppercase;
}

span.submitted-date .month {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.article > .submitted {
  color: #888;
  font-family: Georgia, serif;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 15px;
}

.article > .submitted span {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.article > .submitted a {
}

.article > .submitted a:hover,
.article > .submitted a:active,
.article > .submitted a:focus {
}

.article > .submitted .username {
}

.article > .submitted .time {
}

/* Field Image */
.article .field-type-image {
}

/* Article Lists */
.article ul {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
}

.article ul li {
  background: url(../images/bullet.png) no-repeat 0px 10px;
  padding: 3px 0 3px 10px;
}

.article ol {
}

.article ol li {
}

/* Article Links */
.article .menu {
}

.article ul.links {
  display: block;
  margin: 20px 0 10px;
  overflow: hidden;
}

.article ul.links li {
  display: block;
  float: left;
  margin: 0 6px 0 0;
  padding: 0;
}

.article ul.links li a {
  -webkit-border-radius: 3px;
  background: #999;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  padding: 1px 6px;
}

.article ul.links li a:hover,
.article ul.links li a:active,
.article ul.links li a:focus {
  background: #f3686d;
}

.article ul.links li.node-readmore {
  display: block;
  float: left;
}

.article ul.links li.node-readmore a {
}

.article ul.links li.comment-add {
  display: block;
  float: right;
}

.article ul.links li.comment-add a {
}

.article ul.links li.comment-comments a {
}

.article ul.links li.comment-new-comments a {
}

.article ul.links li.blog_usernames_blog a {
}

.article ul.links li.print_html a {
}

.article ul.links li.print_email a {
}

.article ul.links li.print_pdf a {
}

.article ul.links li.first {
}

.article ul.links li.last {
}

/* Workflow states */
.article-add {
}

.article-edit {
}

.article-delete {
}

.article-preview {
}

.article-sticky {
}

.article-promoted {
}

/* Status */
.article-unpublished {
}

/* Theme the teaser */
.article-teaser {
}
