/**
* Common block
*/

/* --- Blocks --- */
.block {
  margin: 0 0 10px;
}

.block-inner {
  padding: 10px;
}

.block-title {
  border-bottom: 1px solid #e5e5e5;
  color: #333;
  font-size: 1em;
  font-weight: bold !important;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px #fff;
  text-transform: uppercase;
}

.block-content {
}

.sidebar .block-content p {
  margin: 0;
  padding: 0;
}

.block-content p {
  margin: 1.25em 0;
  padding: 0;
}

/* --- Block lists --- */
.block ul {
}

.block ul li {
}

.block ol {
}

.block ol li {
}

/* Block Item list */
.block .item-list ul {
}

.block .item-list ul li {
}

/* Block Links List */
.block ul.links {
}

.block ul.links li {
}

/* Block More Links */
.block .more-link {
  margin-top: 5px;
}

.block .more-link a {
}

/* --- Sidebar Blocks --- */
.sidebar .block {
}

.sidebar .block-inner {
}

.sidebar .block-title {
}

.sidebar .block-content {
}

/* First Sidebar Blocks */
#sidebar-first .block {
}

#sidebar-first .block-inner {
}

#sidebar-first .block-title {
}

#sidebar-first .block-content {
}

/* Second Sidebar Blocks */
#sidebar-second .block {
}

#sidebar-second .block-inner {
}

#sidebar-second .block-title {
}

#sidebar-second .block-content {
}

/* --- Header Blocks --- */
#header-wrapper .block {
  margin: 0;
}

/* --- Footer Blocks --- */
#footer-wrapper .block {
  margin-bottom: 5px;
}

#footer-wrapper .block-inner {
  padding: 0;
}

/* --- First Panels Blocks --- */
#panel-first-wrapper .block {
}

/* --- Second Panels Blocks --- */
#panel-second-wrapper .container {
  padding: 20px 0;
}

#panel-second-wrapper .block {
}

#panel-second-wrapper .panel-first .block-inner {
  padding-left: 0;
}

#panel-second-wrapper .panel-last .block-inner {
  padding-right: 0;
}

#panel-second-wrapper .block a {
  color: #999;
  line-height: 1.3;
  text-shadow: 1px 0 1px #000;
}

#panel-second-wrapper .block a:hover,
#panel-second-wrapper .block a:focus,
#panel-second-wrapper .block a:active {
  color: #fff;
}

#panel-second-wrapper .block-title {
  border-bottom: 1px solid #444;
  color: #ccc;
  text-shadow: none;
}

/**
* Spcecific bocks
*/

/* --- Menu Block --- */
.block-menu {
}

/* --- Node Blocks --- */
.block-node .block-content {
}

.block-node table {
  overflow: hidden;
  width: 100%;
}

.block-node table tr {
}

.block-node table .node-title {
  font-size: 1em;
}

body.not-logged-in .block-node table td.edit,
body.not-logged-in .block-node table td.delete {
  display: none; /* Hide Edit & Delete TD if not log-in */
}

/* --- Forums Block --- */
.block-forum .item-list ul {
}

.block-forum .item-list ul li {
}

.block-forum .item-list ul li a {
}

.block-forum .more-link {
}

.block-forum .contextual-links-wrapper {
  display: none; /* Drupal Bug. Temporary hiding this link */
}

/* --- Comment Blocks --- */
.block-comment {
}

/* --- Aggregator Blocks --- */
block-aggregator {
}

.block-aggregator .item-list ul {
}

.block-aggregator .item-list ul li {
}

.block-aggregator .item-list ul li:first-child {
}

.block-aggregator .item-list ul li a {
}

.block-aggregator .item-list ul li a:hover,
.block-aggregator .item-list ul li a:active,
.block-aggregator .item-list ul li a:focus {
}

/* --- Search Blocks --- */
.block-search {
}

.block-search .block-inner {
  padding: 0 10px 0 0;
}

.block-search #search-block-form {
  margin-bottom: 0;
}

.block-search #search-block-form .form-text {
  border: 1px solid #ddd;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  margin-right: 3px;
  padding: 4px;
  width: 140px;
}

.block-search #search-block-form #edit-submit {
  background: #222;
  border: 1px solid #222;
  color: #fff;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 3px 5px;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
}

.block-search #search-block-form #edit-submit:hover {
  cursor: pointer;
}

/* Search blocks in header */
#header .block-search .block-inner {
}

#header #search-block-form {
}

#header #search-block-form .form-text {
}

#header #search-block-form .form-submit {
}

#header #search-block-form .form-submit:hover,
#header #search-block-form .form-submit:focus {
}

/* --- User Blocks --- */
.block-user {
}

.block-user .form-item {
}

.block-user .form-item label {
}

.block-user .form-item-name {
}

.block-user .form-item-name input {
}

.block-user .form-item-pass {
}

.block-user .form-item-pass input {
}

.block-user .item-list {
}

/* --- Poll Blocks --- */
.block-poll {
}

.block-poll .poll {
}

.block-poll .title {
  font-weight: bold;
  margin-bottom: .5em;
}

.block-poll .links {
  margin-top: .5em;
}

/* --- Book Blocks --- */
.block-book {
}

/* --- Quicktabs Blocks --- */
.block-quicktabs {
}

.block-quicktabs .block-inner .block-inner {
  margin: 0;
  padding: 0; /* Prevent extra padding in nested blocks */
}

/* --- Views Blocks --- */
.block-views {
}

/* Tag List Block */
div.view-tags-list ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

div.view-tags-list ul li {
  display: block;
  float: left;
  font-size: 0.9em;
  list-style: none;
  margin: 0 5px 5px 0;
  padding: 0;
}

div.view-tags-list ul li a {
  -webkit-border-radius: 8px;
  background: #e7e7e7;
  border-radius: 8px;
  color: #666;
  display: block;
  line-height: 1;
  padding: 3px 5px 4px;
}

div.view-tags-list ul li a:hover {
  background: #f3686d;
  color: #fff;
}

/* Yellow block suffix */
.block.yellow-color {
  background: #fffceb;
  border: 1px solid #e8e1b8;
}

.block.yellow-color h2.block-title {
  border-color: #e8e1b8;
}

.block.yellow-color .item-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block.yellow-color .item-list li {
  background: none;
  display: inline;
  font-weight: bold;
  margin: 0;
  padding: 0 3px 0 0;
}

/* White block suffix */
.block.white-color {
  background: #fff;
  border: 1px solid #ddd;
}

.block.white-color h2.block-title {
  border-color: #ddd;
}

.block.white-color .item-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block.white-color .item-list li {
  background: none;
  display: inline;
  font-weight: bold;
  margin: 0;
  padding: 0 3px 0 0;
}

/* Blue block suffix */
.block.blue-color {
  background: #ecf5f8;
  border: 1px solid #c6e0e7;
  color: #333;
  text-shadow: 1px 0 1px #fff;
}

.block.blue-color h2.block-title {
  border-color: #c6e0e7;
}

.block.blue-color .img-border {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  background: #fff;
  border: 1px dashed #ccc;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

/* No padding block */
.no-padding .block-inner {
  padding: 0;
}

/* --- Badge Block --- */
.block-badge {
  position: relative;
}

.block-badge .block-title {
  color: #5a3800;
}

.badge {
  background-image: url(../images/badge.png);
  background-repeat: no-repeat;
  height: 46px;
  position: absolute;
  right: 0;
  width: 45px;
}

.badge-hot .badge {
  background-position: 0 0;
}

.badge-new .badge {
  background-position: 0 -46px;
}

.badge-pick .badge {
  background-position: 0 -92px;
}

.badge-top .badge {
  background-position: 0 -138px;
}

/* Reset Badge Blocks */
#panel-second-wrapper .panel-second-1 .badge {
  right: 60px;
}

#panel-second-wrapper .panel-second-2 .badge {
  right: 40px;
}

#panel-second-wrapper .panel-second-3 .badge {
  right: 20px;
}

/**
* Misc
*/

/* Login Block - horizontal (theme setting) basic styles */
.lb-h {
  margin-top: 1px;
  min-width: 320px;
}

.region-header .lb-h {
  float: right;
}

.lb-h .block-inner,
.lb-h .block-content {
  background: none;
  padding: 0;
}

.lb-h #user-login-form {
  margin: 0;
}

.lb-h #user-login-form label {
  line-height: 1.2;
}

.lb-h .form-item {
  float: left;
  margin: 0;
}

.lb-h input.form-text {
  margin: 0 3px 0 0;
  width: 110px;
}

.lb-h #edit-actions {
  margin: 0;
}

.lb-h input.form-submit {
  margin: 0;
  position: absolute;
  top: 1.2em;
}

.lb-h .form-required,
.lb-h .item-list {
  display: none;
}

.lb-h h2 {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* Skinr block title alignment */
.ta-l .block-title,
.ta-l .mini-panel-title {
  text-align: left;
}

.ta-r .block-title,
.ta-r .mini-panel-title {
  text-align: right;
}

.ta-c .block-title,
.ta-c .mini-panel-title {
  text-align: center;
}

/* Mini panels get a special title class */
.mini-panel-title {
  margin: 0 10px;
}

/* Gpanel blocks */
.gpanel .block-inner {
}

.gpanel .block-title {
}

.gpanel .block-content {
}

#main-content .gpanel .block-inner {
}

#main-content .gpanel .block-title {
}

#main-content .gpanel .block-content {
}

#main-content .article-header h1.node-title,
#main-content .article-header h2.node-title {
  border-bottom: 1px solid #eee;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1;
  padding-bottom: 10px;
}

#main-content .article-header h1.node-title a,
#main-content .article-header h2.node-title a {
  color: #333;
}

#main-content .article-header h1.node-title a:hover,
#main-content .article-header h1.node-title a:focus,
#main-content .article-header h1.node-title a:active,
#main-content .article-header h2.node-title a:hover,
#main-content .article-header h2.node-title a:focus,
#main-content .article-header h2.node-title a:active {
  color: #f3686d;
}

/* Block wrapper for Mini Panels */
.block-panels_mini {
}

.block-panels_mini .block-inner {
}

.block-panels_mini .block-content {
}

.block-panels_mini .mini-panel-title {
  margin: 0 10px;
}

/* Login block - slider (theme setting) */
/* TODO: add the login slider styles
* Uses the class .lb-s {
}
*/
