body {
 min-width:640px;
 min-height:300px;
 margin-top: 0px;
 margin-left:0px;
 margin-right:0px;
 background: #eeeeee;
}

#top {
 margin-top:0px;
 min-width:640px;
 background: url("../images/bg.png");
 height : 66px;
}

#title {
   position: absolute;
   margin-top: 6px;
   height: 25px;
   width :100%;
   min-width:640px;
   font-size:20px;
   font-weight:bold;
   text-align: center;
}


#menu_bar {
  text-align : center;
  width :100%;
  min-width:640px;
  height:24px;
  position: absolute;
  margin-top: 44px;
}

span.pagelink {
 padding:0px; 
 height:24px;
}

span.pagelink a {
 height:24px;
 padding-top:2px;
 padding-bottom:2px;
 padding-left:5px;
 padding-right:5px;
 color: white;
 
 font-weight:bold;
 text-decoration:none;
 background : none;
}

span.pagelink a:hover {
 background : url("../images/bg-hover-bak.png")
}


#styleselector {
   position: absolute;
   top: 75px;
   left: 0%;
   width: 100px;
   height: 20px;
}


#breadcrumbs {
   position: absolute;
   top: 80px;
   left: 250px;
   height: 20px;
   font-size:12px;
}
span.crumb {
   margin-left: 10px;
   margin-right: 10px;
}

#sidebar {
   background: lightgray;
   position: absolute;
   overflow: auto;
   top: 110px;
   left: 0;
   width: 250px;
}

#pathtree {
   background: lightgray;
}


a.treerelation {
  background: blue;
}

#crossrefs {
   background: lightgray;
}

#main {
   position: absolute;
   top: 110px;
   padding-left : 10px;
   left: 250px;
   overflow: auto;
   min-width:380px;
}

table.decllist {
  border-left-style: solid;
  border-left-width: 1px;
  margin-left:5px;
  padding-left:25px;
}

table.decllist td {
}

div.flat-container {
       border-style: dotted;
       border-width: thin;
       padding: 2px;

}