.tooltip {
	position						: absolute;
	z-index						: 10000;
	
	border						: 1px solid #3b79df;
	-moz-border-radius		: 10px;
	-webkit-border-radius	: 10px;
	border-radius				: 10px;
	
	background	: #4986e8;
	background	: -moz-linear-gradient(top, #c1d7ff, #76b8fc 2%, #4986e8);
	background	: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aadaf0), color-stop(.01, #76b8fc), to(#4986e8));
	
	width			: 160px;
	padding		: 8px 13px 8px 8px;
	font-family	: Arial, Helvetica, sans-serif;
	font-size	: 12px;
	font-weight	: bold;
/*	line-height	: 18px; */
	text-shadow	: 0 1px 1px #0d3474;
	color			: #fff;
}

.tooltip:before {
	content					: "\00a0";
	display					: block;
	position					: absolute;
	left						: 100%;
	top						: 19px;
	border					: 14px solid transparent;
	border-left-color		: #0f3980;
	width						: 0;
	height					: 0;
	line-height				: 0px;
	
}

.tooltip:after {
	content					: "\00a0";
	display					: block;
	position					: absolute;
	bottom					: -26px;
	left						: 100%;
	top						: 20px;
	border					: 13px solid transparent;
	border-left-color		: #66A6F4;
	width						: 0;
	height					: 0;
	line-height				: 0px;
}

.scheme-orange {
	border-color	: #e6791c;
	background		: #f48423;
	background		: -moz-linear-gradient(top, #ffdf9e, #f5b026 2%, #f48423);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd683), color-stop(.01, #f5b026), to(#f48423)); 
}
.scheme-orange:before { border-left-color : #e6791c; }
.scheme-orange:after { border-left-color : #F4A425; }

.scheme-gray {
	border-color	: #b5b5b5;
	background		: #e2e2e2;
	background		: -moz-linear-gradient(top, #FFF, #f5f5f5 2%, #e2e2e2 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(.01, #f5f5f5), to(#e2e2e2));
	color				: #5e5e5e;
	text-shadow		: none;
}
.scheme-gray:before { border-left-color : #b5b5b5; }
.scheme-gray:after { border-left-color	: #f0f0f0; }


/** BOTTOM POSSITIONED tooltip **/
.scheme-orange-bottom {
	border-color	: #e6791c;
	background		: #f48423;
	background		: -moz-linear-gradient(top, #ffdf9e, #f5b026 2%, #f48423);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd683), color-stop(.01, #f5b026), to(#f48423)); 
}
.scheme-orange-bottom:before { 
	border-color		: transparent;
	border-top-color	: #D76F15;
	left					: 40px;
	top					: 100%;
}
.scheme-orange-bottom:after { 
	border-color		: transparent;
	border-top-color	: #F48423; 
	left					: 41px;
	top					: 100%;
}

.scheme-blue-bottom {
	border-color	: #3b79df;
	background	: #4986e8;
	background	: -moz-linear-gradient(top, #c1d7ff, #76b8fc 2%, #4986e8);
	background	: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aadaf0), color-stop(.01, #76b8fc), to(#4986e8));
}
.scheme-blue-bottom:before { 
	border-color		: transparent;
	border-top-color	: #0f3980;
	left					: 40px;
	top					: 100%;
}
.scheme-blue-bottom:after { 
	border-color		: transparent;
	border-top-color	: #4A87E8; 
	left					: 41px;
	top					: 100%;
}


/** TOP POSSITIONED tooltip **/

.scheme-blue-top {
	border-color	: #3b79df;
	background		: #4986e8;
	background		: -moz-linear-gradient(top, #c1d7ff, #76b8fc 2%, #4986e8);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aadaf0), color-stop(.01, #76b8fc), to(#4986e8));
}
.scheme-blue-top:before { 
	border-color			: transparent;
	border-bottom-color	: #0f3980;
	left						: 40px;
	top						: -28px;
}
.scheme-blue-top:after { 
	border-color			: transparent;
	border-bottom-color	: #76B8FC; 
	left						: 41px;
	top						: -26px;
}


/** LEFT POSSITIONED tooltip **/

.scheme-blue-left {
	border-color	: #3b79df;
	background		: #4986e8;
	background		: -moz-linear-gradient(top, #c1d7ff, #76b8fc 2%, #4986e8);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aadaf0), color-stop(.01, #76b8fc), to(#4986e8));
}
.scheme-blue-left:before { 
	border-color			: transparent;
	border-right-color	: #0f3980;
	left						: -28px;
}
.scheme-blue-left:after { 
	border-color			: transparent;
	border-right-color	: #6EAFF8; 
	left						: -26px;
}

/** RIGHT POSSITIONED SIMPLE tooltip **/
.scheme-simple-right{
	border						: 0;
	background					: rgba(0, 0, 0, 0.8);
	border-radius				: 0;
	-moz-border-radius		: 0;
	-webkit-border-radius	: 0;
	width                   : auto;
	padding						: 3px;
	font-family					: verdana, arial;
	font-size					: 8pt;
	font-weight					: normal;
	text-shadow					: 0;
}
.scheme-simple-right:before{ 
	border-color		: transparent;
	border-top-color	: rgba(0, 0, 0, 0.0);
	left					: 100%;
	top					: 0;
}
.scheme-simple-right:after { 
	border-color		: transparent;
	border-width      : 10px;
	border-left-color : rgba(0, 0, 0, 0.8); 
	left					: 100%;
	top					: 0;
}

/** BOTTOM POSSITIONED SIMPLE tooltip **/

.scheme-simple-bottom{
	border						: 0;
	background					: rgba(0, 0, 0, 0.8);
	border-radius				: 5px;
	-moz-border-radius		: 5px;
	-webkit-border-radius	: 5px;
	padding						: 5px;
	font-family					: verdana, arial;
	font-size					: 8pt;
	font-weight					: normal;
	text-shadow					: 0;
}
.scheme-simple-bottom:before{ 
	border-color		: transparent;
	border-top-color	: rgba(0, 0, 0, 0.0);
	left					: 40px;
	top					: 100%;
}
.scheme-simple-bottom:after { 
	border-color		: transparent;
	border-top-color	: rgba(0, 0, 0, 0.8); 
	left					: 41px;
	top					: 100%;
}

/** LEFT POSSITIONED SIMPLE tooltip **/
.scheme-simple-left{
	border						: 0;
	background					: rgba(0, 0, 0, 0.8);
	border-radius				: 5px;
	-moz-border-radius		: 5px;
	-webkit-border-radius	: 5px;
	padding						: 5px;
	font-family					: verdana, arial;
	font-size					: 8pt;
	font-weight					: normal;
	text-shadow					: 0;
}
.scheme-simple-left:before{ 
	border-color		: transparent;
	border-top-color	: rgba(0, 0, 0, 0.0);
	left					: 0%;
	top					: 19px;
}
.scheme-simple-left:after { 
	border-color		: transparent;
	border-right-color: rgba(0, 0, 0, 0.8); 
	left					: -26px;
	top					: 19px;
}
