.tInfoBar{
	position						: absolute;
	top							: 0;
	right							: 0;
	bottom						: 0;
	border						: 1px solid #696969;
	-moz-border-radius		: 5px;
	-webkit-border-radius	: 5px;
	border-radius				: 5px;
	background              : #fff;
	width							: 24px;
}
.tInfoBar img{ border: 0; }
.tInfoBar-wrapper{
   margin-right   : 30px;
}
.tInfoBar-token{
	cursor	: pointer;
}
.tInfoBar-highlighted{
	background-color	: rgba( 0, 100, 255, 0.3 );
}
.tInfoBar-selected{
   background-color  : rgba( 255, 255, 0, 0.5 );
}
.tInfoBar-selectMenu{
	border				: 1px solid #696969;
	margin				: 0;
	padding				: 0;
	width					: 160px;
	list-style-type 	: none;
}
.tInfoBar-selectMenu .wrapper{
	display				: block;
	border-bottom		: 1px solid #cacaca;
	background			: #fff;
	padding				: 2px;
	font-family			: Arial, Helvetica, sans-serif;
	font-size			: 11pt;
	text-decoration	: none;
	color					: #333;
}
.tInfoBar-selectMenu .wrapper:hover{ background-color : #C1D0FF; }
.tInfoBar-selectMenu .icons{
	text-align	: right;
}

.tTooltip .commentHolder{
	width		: 155px;
	padding	: 2px;
}
.tTooltip .commentHolder div{
	font-size		: 9pt;
	text-shadow		: 0 1px 1px #0d3474;
	color				: #fff;
}

.clearBoth{
	visibility	: hidden;
	height		: 0;
	font-size	: 0;
	overflow		: hidden;
	clear 		: both;
}

.tokenView td, .tokenView th, .tokenView tbody{
   border   : 0;
}
