textarea .ace_editor {
	position:relative;
}

.cm-s-default span.cm-bracket {
    color: blue;
}

.ui-button span.ui-icon {
  left: -2px;
  top: -2px;
  width: 32px;
  height: 32px;
  margin-left: 0px;
  margin-top: 0px;
}

.ui-button .envInsertIcon {
	background-image: url(../images/addEnvironment.png);
}

.ui-button .bold {
	background-image: url(../images/bold.png);
}

.ui-button .italic {
	background-image: url(../images/italic.png);
}

.ui-button .share {
	background-image: url(../images/share.png);
}

.ui-button .formula {
	background-image: url(../images/formula.png);
}

.linedWidgets .cmd_list {
	float: left;
	width: 200px;
}

.linedWidgets .cmd_category {
	float: left;
	width: 200px;
}

.linedWidgets .cmd_list li {
	list-style-type : none;
}


.linedWidgets .exhibit-facet {
	float: left;
}

.clearCount .exhibit-facet-value-count {
	display: none;
}


