[submodule "build/deps/closurecompilerpy"]
	path = build/deps/closurecompilerpy
	url = https://github.com/tkw1536/ClosureCompilerPy
[submodule "build/deps/PythonMarkdownCompiler"]
	path = build/deps/PythonMarkdownCompiler
	url = https://github.com/tkw1536/PythonMarkdownCompiler
