/* --- Articles (nodes) --- */
.article {
  border-bottom: 1px solid #ddd;  
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.node-full {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Teaser */
.node-teaser {
}

/* Article Title */
.article > .header {
}

.node-title {
  color: #111;
  font-size: 1.5em;
  margin: 0 0 5px;
  font-weight: normal;
}

.node-title a,
.node-title a:visited {
  color: #111;
}

.node-title a:hover,
.node-title a:active,
.node-title a:focus {
  color: #9a2016;
  text-decoration: none;
}

/* User Picture */
.article .user-picture {
  display: inline;
  margin-right: .5em;
}

.article .user-picture img {
}

/* Meta */
.node-author {
}

.username {
}

.article > .submitted {
  color: #888;
  line-height: 1;
  padding: 5px 0 15px 0;
  font-size: 0.912em;
}

.article > .submitted a {
}

.article > .submitted a:hover,
.article > .submitted a:active,
.article > .submitted a:focus {
}

.article > .submitted .username {
}

.article > .submitted .time {
}

/* Field Image */
.article .field-type-image {
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
}

.article .field-type-image img {
  background: #fff;
  border: 1px solid #ddd;
  padding: 4px;
}

/* Article Lists */
.article ul {
}

.article ul li {
}

.article ol {
}

.article ol li {
}

/* Article Links */
.article .menu {
  border-top: 1px dotted #ddd;
  margin-top: 10px;
  padding-top: 10px;
}

.article ul.links {
  color: #888;
  font-size: 0.912em;
  margin: 0;
}

.article ul.links li {
  border-right: 1px solid #ddd;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}

.article ul.links li.last {
  border-right: none;
}

.article ul.links li a {
  color: #9a2016;
  display: inline-block;
}

.article ul.links li a:hover,
.article ul.links li a:active,
.article ul.links li a:focus {
  color: #333;
  text-decoration: underline;
}

.article ul.links li.node-readmore a {

}

.article ul.links li.comment-add a {
  background: url(../images/comment.png) 0 0 no-repeat;
  padding-left: 18px;
}

.article ul.links li.comment-comments a {
}

.article ul.links li.comment-new-comments a {
}

.article ul.links li.blog_usernames_blog a {
}

.article ul.links li.print_html a {
}

.article ul.links li.print_email a {
}

.article ul.links li.print_pdf a {
}

.article ul.links li.first {
}

.article ul.links li.last {
}

/* Workflow states */
.article-add {
}

.article-edit {
}

.article-delete {
}

.article-preview {
}

.article-sticky {
}

.article-promoted {
}

/* Status */
.article-unpublished {
}

/* --- Blogs --- */
.page-blog .article {
}

/* Teaser */
.page-blog .node-teaser {
}

/* Blog Title */
.node-blog > .header {
}

.node-blog .node-title {
}

.node-blog .node-title a,
.node-blog .node-title a:visited {
}

.node-blog .node-title a:hover,
.node-blog .node-title a:active,
.node-blog .node-title a:focus {
}

/* Blog User Picture */
.node-blog .user-picture {
  display: inline-block;
  vertical-align: text-top;
}

.node-blog .user-picture img {
}

/* Blog Meta */
.node-blog > .submitted {
}

.node-blog > .submitted a {
}

.node-blog > .submitted a:hover,
.node-blog > .submitted a:active,
.node-blog > .submitted a:focus {
}

.node-blog > .submitted .username {
}

.node-blog > .submitted .time {
}

/* Blog Field Image */
.node-blog .field-type-image {
  border: 0;
}

/* Blog Links */
.node-blog .menu {
}

.node-blog ul.links {
}

.node-blog ul.links li {
}

.node-blog ul.links li a {
}

.node-blog ul.links li a:hover,
.node-blog ul.links li a:active,
.node-blog ul.links li a:focus {
}

.node-blog ul.links li.node-readmore a {
}

.node-blog ul.links li.comment-add a {
}

.node-blog ul.links li.comment-comments a {
}

.node-blog ul.links li.comment-new-comments a {
}

.node-blog ul.links li.blog_usernames_blog a {
}

.node-blog ul.links li.print_html a {
}

.node-blog ul.links li.print_email a {
}

.node-blog ul.links li.print_pdf a {
}

.node-blog ul.links li.first {
}

.node-blog ul.links li.last {
}

/* Blog Workflow states */
.page-blog .article-add {
}

.page-blog .article-edit {
}

.page-blog .article-delete {
}

.page-blog .article-preview {
}

.page-blog .article-sticky {
}

.page-blog .article-promoted {
}

/* Status */
.page-blog .article-unpublished {
}

/**
 * Misc.
 */

/* Skinr article title alignment */
.ta-l .article-title {
  text-align: left;
}

.ta-r .article-title {
  text-align: right;
}

.ta-c .article-title {
  text-align: center;
}

/* Photos Gallery */
.galleryformatter {
  margin-bottom: 20px;
}

.galleryformatter-greenarrows .gallery-thumbs {
  padding: 0 30px;
}

.galleryformatter-greenarrows .gallery-thumbs li {
  padding: 0 14px;
}

.galleryformatter-greenarrows .gallery-thumbs li img {
  background: #fff;
  border: 1px solid #ddd;
  padding: 4px;
}

.galleryformatter-greenarrows .gallery-thumbs .arrow {
  bottom: 30px;
  height: 30px;
  width: 30px;
}

.galleryformatter-greenarrows .gallery-thumbs .back {
  background: url(../images/btn-photosgallery.png) no-repeat 0 0;
}

.galleryformatter-greenarrows .gallery-thumbs .back:hover,
.galleryformatter-greenarrows .gallery-thumbs .back:focus {
  background-position: 0 -35px;
}

.galleryformatter-greenarrows .gallery-thumbs .forward {
  background: url(../images/btn-photosgallery.png) no-repeat 0 -70px;
}

.galleryformatter-greenarrows .gallery-thumbs .forward:hover,
.galleryformatter-greenarrows .gallery-thumbs .forward:focus {
  background-position: 0 -105px;
}