/**
 * IE 7 Compatibility Tweaks
 */

/* forms.css */
input.form-submit,
a.button {
}

#comment-form textarea {
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

#comment-form .form-textarea-wrapper {
  border: 1px solid #ccc;
  border-bottom: 0;
}

#comment-form div.resizable-textarea textarea {
  padding: 3px 3px 3px 4px;
  width: 99%;
}

/* Search Form */
#header #search-block-form {
  padding-top: 3px;
}

/* Vote Form */
.poll .vote-form .choices .form-item input.form-radio {
  margin: 0;
}

.poll .vote-form .choices .form-item .form-item label.option {
  padding-top: 2px;
}

.form-item-copy label.option {
  padding-top: 2px;
}

.contact-form div.resizable-textarea textarea {
  padding-left: 5px;
  width: 98%;
}

.not-logged-in .contact-form div.resizable-textarea textarea {
  padding-left: 4px;
  width: 97.5%;
}

#search-form .form-submit {
  padding-bottom: 1px;
  padding-top: 1px;
}

#edit-type input.form-checkbox {
  margin-right: 0;
}

#search-form #edit-type label {
  padding-top: 2px;
}

#edit-advanced .form-item {
  margin-bottom: 3px;
}

/* forum */
.page-forum ul.action-links li a {
  vertical-align: middle;
}

#breadcrumb-wrapper ol li span {
  background-position: 50% 8px;
}

.item-list ul.pager li {
  line-height: 22px
}