#forum {
  width: 100%;
}

.page-forum #page-title {
  margin-bottom: 10px;
}

#forum .name {
  font-weight: bold;
}

#forum .description {
  color: #666;
  font-size: .92em;
}

/* Forums Table */
#forum table {
  width: 100%;
}

#forum tr.even td,
#forum tr.odd td {
  border-bottom: 1px dotted #ccc;
}

#forum tr.odd {
  background: #f7f7f7;
}

#forum thead tr {
  background: #333;
}

#forum thead th {
}

#forum thead th a {
}

#forum thead th.active {
}

#forum td {
}

#forum td a {
}

#forum td.topics,
#forum td.posts,
#forum td.replies,
#forum td.created,
#forum td.last-reply {
  font-size: .857em;
}

/* Forums Head */
#forum tr td.container {
  background: #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: .75em 5px .75em 25px;
}

#forum tr td.container a {
}

#forum tr td.container .name {
  font-size: 1.15em;
}

#forum tr td.container .description {
}

/* Forums List */
#forum td.forum {
  width: 60%;
}

#forum tr.new-topics td.forum {
}

#forum td.forum .name {
  background-image: url(../images/forum-default.png);
  background-position: left center; /* LTR */
  background-repeat: no-repeat;
  padding-left: 30px; /* LTR */
}

#forum tr.new-topics td.forum .name {
  background-image: url(../images/forum-default.png);
}

#forum td.forum .name a {
}

#forum td.forum .description {
}

#forum td.topics {
}

#forum td.posts {
}

/* Topic List */
#forum td.title {
}

#forum td.title a {
}

#forum td.title .submitted {
  font-size: .92em;
}

#forum td.replies {
}

#forum td.last-reply {
}

/* Forums Indent */
#forum div.indent {
  margin-left: 20px;
}

/* Forums Icons */
#forum .icon div {
  background-image: url(../images/forum-icons.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

#forum .icon .topic-status-new {
  background-position: -24px 0;
}

#forum .icon .topic-status-hot {
  background-position: -48px 0;
}

#forum .icon .topic-status-hot-new {
  background-position: -72px 0;
}

#forum .icon .topic-status-sticky {
  background-position: -96px 0;
}

#forum .icon .topic-status-closed {
  background-position: -120px 0;
}

/* Forums Action Links */
.page-forum ul.action-links {
  margin: 0 0 2em;
  padding: 0;
}

.page-forum ul.action-links li {
  margin: 0;
}

.page-forum ul.action-links li a {
  background: #c00;
  color: #fff;
  display: block;
  float: left;
  font-weight: bold;
  margin: 0 .5em 0 0;
  padding: .25em 1.25em;
}

.page-forum ul.action-links a:hover,
.page-forum ul.action-links a:active,
.page-forum ul.action-links a:focus {
  background: #333;
  color: #fff;
  text-decoration: none;
}
