/**
 * IE 7 Compatibility Tweaks
 */

/* forms.css */
input.form-submit,
a.button {
  padding: 1px 10px;
}

#comment-form textarea {
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

#comment-form .form-textarea-wrapper {
  border: 1px solid #ccc;
  border-bottom: 0;
}
