.wrapper {
}

.wrapper .container {
}

/* Grid Gutter */
.grid {
}

.grid-inner {
  padding: 0 20px;
}

.grid .grid-inner {
}

.region-content .block {
}

.sidebar .block {
}

/**
 * Main Containner
 */
#main-wrapper {
}

#main-wrapper .container {
  padding: 1em 0;
}

#main-wrapper .container-inner {
}

/**
 * Header
 */
#header-wrapper {
}

#header-wrapper .container {
  padding: 1em 0;
}

#header {
  clear: both;
  position: relative;
}

/* Logo & Site name */
#logo {
  float: left;
  margin-right: 10px;
}

#name-and-slogan {
  float: left;
  line-height: 1.2;
}

.site-name {
  font-size: 5em;
  margin: 0;
}

.site-name a {
  color: #c00;
  text-decoration: none;
}

.site-name a:visited {
}

.site-name a:hover,
.site-name a:focus,
.site-name a:active {
  color: #c00;
  text-decoration: none;
}

.site-slogan {
  background: #ddd;
  color: #666;
  font-size: 1.286em;
  font-weight: bold;
  margin: 0.188em 0 0;
  padding: 5px;
  text-align: center;
}

/* Region */
.region-header {
  float: right;
  margin-top: 3em;
}

/**
 * Main Navigation
 */
#menu-bar-wrapper {
  margin: 1em 0;
  padding-bottom: 1em;
  position: relative;
  z-index: 499; /* Drupal toolbar index is 600 */
}

#menu-bar-wrapper .menu-bar {
  position: relative;
}

#menu-bar-wrapper .region-menu-bar {
  background: #333;
  width: 100%;
}

/* Region */
.region-menu-bar {
}

/**
 * Main Content
 */
#main-content {
}

#main-content .grid-inner {
  padding: 10px 20px 20px 20px;
}

#main-content .region-content {
}

#main-content .region-content #block-system-main {
}

#main-content .region-content #block-system-main .block-inner {
  padding: 0;
}

#main-content .region-content #block-system-main .block-content {
  padding: 0;
}

/* Content on Front-page */
body.front #main-content .region-content {
}

/* Content on other pages */
body.not-front #main-content .region-content {
}

/* Page Title */
#page-title {
  margin: 0 0 .5em;
}

.in-maintenance #page-title {
  padding: 10px;
}

/**
 * Sidebars
 */
.sidebar {
  font-size: 0.857em;
  margin-top: 10px;
}

.region-sidebar-first {
  background: #eee;
}

.region-sidebar-second {
  background: #eee;
}

/**
 * Panels
 */
.panel {
}

.panel .container {
}

/* --- First Panel --- */
#panel-first-wrapper {
}

/* --- Second Panel --- */
#panel-second-wrapper {
}

/* --- Third Panel --- */
#panel-third-wrapper {
}

/**
 * Slideshow
 */
#slideshow-wrapper {
  margin: 1em 0;
}

/**
 * Footer
 */
#footer-wrapper {
  border-top: 1px solid #ddd;
  margin-top: 1em;
  padding: 2em 0 5em;
}

#footer-wrapper .container {
}

#footer {
  position: relative;
}

#footer .tb-copyright {
  float: left;
  padding: 0 10px;
}

/* Region */
.region-footer {
}

/**
 * Other Pages
 */

/* --- Blogs --- */
.page-blog {
}

/* Blog Action Links */
.page-blog ul.action-links {
  margin: 0 0 2em;
  padding: 0;
}

.page-blog ul.action-links li {
  margin: 0;
}

.page-blog ul.action-links li a {
  background: #c00;
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: .25em 1.25em;
}

.page-blog ul.action-links a:hover,
.page-blog ul.action-links a:active,
.page-blog ul.action-links a:focus {
  background: #333;
  color: #fff;
  text-decoration: none;
}

/* --- Profiles --- */
.profile {
  margin-top: 0;
}

.profile h3 {
  border-bottom: 1px solid #ddd;
  margin: 0 0 1em;
  padding: 0 0 .5em 0;
}


.profile .user-picture {
  float: none;
}

.profile .field {
}

.profile .field .field-label {
}

.profile .field .field-items {
}

.profile .field .field-items .field-item {
}

/* --- Search Results --- */
.search-results {
  margin: 0;
}

.search-results .search-result {
}

.search-results .title {
  font-size: 1.154em;
}

.search-results .search-snippet-info {
  padding: 0;
}

.search-results p {
  margin: 0;
}

.search-results .search-snippet {
}

.search-results .search-info {
  font-size: .923em;
}

span.search-info-type {
}

span.search-info-user {
}

span.search-info-date {
}

span.search-info-comment {
}

span.search-info-upload {
}

/* --- Poll Page --- */
.poll {
}

/* Vote Form */
.poll .vote-form {
  text-align: left;
}

.poll .vote-form .choices {
  margin: 0;
}

.poll .vote-form .choices .form-item {
}

/* Vote Result */
.poll .text {
}

.poll .bar {
  background: #ddd;
}

.poll .bar .foreground {
  background: #333;
}

.poll .percent {
  color: #7b7b7b;
  font-size: 0.92em;
}

.poll .total {
}

/* --- Feed Aggregator ---*/
/* Feed Items */
#aggregator .feed-item {
  margin-bottom: 40px;
}

#aggregator .feed-item .header {
}

#aggregator .feed-item .header h2 {
}

#aggregator .feed-item .content {
}

#aggregator .feed-item .footer {
}

#aggregator .feed-item .footer .meta {
}

#aggregator .feed-item .footer .categories {
}

/* Feed Lists */
#aggregator .feed {
  margin: 1em 0;
}

#aggregator .feed .summary-title {
}

#aggregator .feed .feed-url {
  margin: .5em 0 0;
}

#aggregator .feed .item-list {
}

#aggregator .feed .item-list ul {
}

#aggregator .feed .item-list ul li {
  background-image: none;
  margin: 1em 0 0;
  padding: 0;
}

#aggregator .feed .source {
  margin: .5em 0 0;
}

#aggregator .feed .time {
}

#aggregator .feed .feed-name {
  margin: 0;
}

#aggregator .feed .links a {
  margin: 0;
}

/* --- Maintenance Page --- */
.maintenance-page #skip-link {
  position: absolute;
  top: -99em;
}

.maintenance-page .footer {
}

.maintenance-page .footer a {
}

/**
 * Misc.
 */

/* Feed icons */
.feed-icon img {
  padding: 0 10px;
}

#feed-icons {
}

#feed-icons .feed-icon {
}

#feed-icons .feed-icon img {
}

#feed-icons a.feed-icon {
}
