/**
 * @file
 * RTL companion for the navigation.css file.
 */


#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  text-align: right;
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: right;
  padding: 0 0 0 10px;
}
