.tContextMenu, .tContextMenu ul {
   display        : none;
   position       : absolute;
   top            : 0;
   left           : 0;
   border         : 1px solid #868686;
   background     : #fafafa url('../js/views/css/images/li-background.gif') repeat-y 0 0;
   width          : 160px;
   margin         : 0;
   padding        : 0;
   font-weight    : normal;
   list-style-type: none;
   color          : black;
}
.tContextMenu li {
   position       : relative;
   margin         : 0;
   padding        : 4px 15px 4px 31px;
   font-family    : verdana, sans-serif, arial;
   font-size      : 10px;
   color          : black;
   cursor         : default;
}
.tContextMenu-node{
   background     : url('../images/li-arrow-right.png') no-repeat 100% 50%;
   font-weight    : bold;
}
.tContextMenu ul {
   left     : 98%;
   top      : 0px;
}
.tContextMenu li:hover, .tContextMenu-hover {
   background-color : rgba(255, 190, 0, 0.7);
}
.tContextMenu-smallIcon{
   position : absolute;
   left     : 5px;
   top      : 2px;
}
